<!-- TITLE -->
<div id="content-header" class="clearfix">
  <div class="pull-left">										
    <h1>{{subject.name}}</h1>
  </div>
  </div>

  <!-- CONTENT -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Inhoud2</h1>
      <ul>
        <li>
          <a  (click)="goTo('overview')">Overzicht</a>
        </li>
        <li>
          <a (click)="goTo('add')">Toevoegen</a>
        </li>
        <li>Wijzigen</li>
        <li>Verwijderen</li>
      </ul>

      <h1 id="overview">Overzicht</h1>
      <p>
        1) Surf naar <a href="https://account.equimanager.com">account.equimanager.com</a> en meldt u aan.<br/>
        2) Klik op "Mijn gezin"<br />
        <img class="img img-responsive" alt="overview" src="/assets/cube/img/snips/basic-people/overview.png"/>
      </p>

      <h1 id="add">Toevoegen</h1>
      <p>
        1) Surf naar <a href="https://account.equimanager.com">account.equimanager.com</a> en meldt u aan.<br/>
        2) Klik op "Mijn gezin" en klik vervolgens op "Toevoegen"<br />
        <img class="img img-responsive" alt="Klik op Toevoegen" src="/assets/cube/img/snips/basic-people/pressadd.png"/>
        3) Vul de gevens in en klik op "Aanmaken"<br/>
        <img class="img img-responsive" alt="Klik op aanmaken" src="/assets/cube/img/snips/basic-people/add.png"/>
      </p>
    </div>
  </div>	